* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    border: none;
}

html,
body {
    overflow-x: hidden;
}

.common-title {
    text-align: center;
}

.mt-100 {
    margin-top: 100px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-15 {
    margin-top: 15px;
}
/* **********************MixItUp********************* */
.tab_part img{
	width: 50%;
}
.tab_part .mix{
	display: none;
}
.tab_part{
	padding: 50px 0;
}
.col-md-9 {
    flex: 0 0 auto;
    width: 75%;
    margin-top: 160px;
}
.header-area h5{
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #5fb759;
	text-transform: uppercase;
}
.header-area h2{
	font-family: "Raleway", sans-serif;
	font-size: 32px;
	font-weight: 800;
	color: #212529;
	margin-top: 20px;
	margin-bottom: 40px;
}

.filters ul {
	padding: 0;
	list-style: none;
}
.filters ul li{
	padding: 8px 0;
}
.filters ul li a{
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	font-weight: 700;
	color: #9a9a9a;
	text-transform: uppercase;
}
.filters ul li:hover a{
	color: #5fb759;
}
.active{
	color: #5fb759 !important;
}
/* *********************************TESTIMONIAL START********************************** */

#testimonial-part .bg {
    background: #2B3A41;
    color: white;
}

#testimonial-part .details {
    padding: 45px 34px;
    box-sizing: border-box;
}

.col-md-6.item {
    padding-left: 94px;
    box-sizing: border-box;
}

#testimonial-part .item h1 {
    font-family: 'Baskervville', serif;
    font-weight: 400;
    font-size: 56px;
    padding-right: 7px;
    color: #333;
}

#testimonial-part .item p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin: 30px 0px;
    color: #567482;
}

#testimonial-part .item .heading {
    position: relative;
    text-align: center;
    max-width: 270px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 30px;

}

#testimonial-part .item .heading::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 24%;
    height: 1px;
    background: #2B3A41 !important;
    content: " ";
}

#testimonial-part .details h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 80px;

}

#testimonial-part .details p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;

}

#testimonial-part .details .fa,
#testimonial-part .details .fas {
    font-weight: 900;
    color: #ECBB9C;
    line-height: 80px;
}

#testimonial-part .details .fa:hover,
#testimonial-part .details .fas:hover {
    color: #4D5A60;
}

#testimonial-part .port_slider .prev {
    width: 40px;
    height: 40px;
    color: #567482;
    background: rgb(255, 255, 255);
    border: 1px solid #567482;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 19%;
    right: -27%;
    z-index: 9999;
    transform: translate(-50%, 50%);
}

#testimonial-part {
    position: relative;
}

#testimonial-part .port_slider .next {
    width: 40px;
    height: 40px;
    color: #567482;
    background: rgb(255, 255, 255);
    border: 1px solid #567482;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 19%;
    right: -37%;
    transform: translate(-50%, 50%);
}